ext {
	// Obfuscation Mappings
	mappings_channel = 'official'
	mappings_version = '1.18.2'

	// Forge
	forge_version = '1.18.2-40.1.54'

	// Project
	mod_id = 'paragon_textiles'
	packagename = 'wilytextiles'
	mod_vendor = 'The_Paragon\'s Minecraft Mods'
	version = '0.3.0'
	mc_version = '1.18.2'
	group = 'paragon.minecraft'
	name = 'WilyTextiles'
}
