ext {
	// Obfuscation Mappings
	mappings_channel = 'snapshot'
	mappings_version = '20201028-1.16.3'

	// Forge
	forge_version = '1.16.5-36.1.0'

	// Project
	mod_id = 'paragon_textiles'
	mod_vendor = 'The_Paragon\'s Minecraft Mods'
	version = '0.0.0'
	group = 'paragon.minecraft'
	archivesBaseName = 'WilyTextiles'
}
